# Đổi tên file thành dev.toml, xóa cái comment này đi, và viết theo format như sau:

[gemini]
api_key = "chuỗi nào đó, lấy từ Google AI Studio"
model_name = "gemini-1.5-flash-latest hoặc bất kỳ cái gì"